include HISTORY.md
include scrapydash/data/parse/ScrapydWeb_demo.log
include scrapydash/data/demo_projects/ScrapydWeb_demo/scrapy.cfg
graft scrapydash/static
graft scrapydash/templates
graft scrapydash/data/demo_projects/ScrapydWeb_demo/ScrapydWeb_demo
global-exclude *.pyc
